:root {
	--mainGreyBg: #c1cad9;
	--pink: #FF497C;
	--white: #ffffff;
	--lightGrey: #F3F2F7;
	--vdarkGrey: #293040;
	--darkGrey: #7B7A82;
	--darkButton: #DEE2E5;
	--green: #CFE2A8;
	--blue: #22C1A2;
	--orange: #F38848;
	--inputBg: #F4F4F6;
	--connector: #c8c8c8;
	--ivory: #DEF5FB;

	--smallText: 12px;
	--tileDesc: 14px;
	--mTile: 16px;
	--tileTitle: 20px;
	--buttonFontSize: 24px;
	--tiltTitleLg: 26px;
}

html, body {
    height: 100%;
    font-family: 'Poppins';
    background-color: var(--mainGreyBg);
    margin: 0px;
}

.flex-container {
	display: flex;
	width: 100%;
}

.height-100-p {
	height: 100%;
}

.full-box {
	flex-direction: row;
	height: 100%;
	width: 100%;
}

.head {
	padding: 20px 40px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.t-bold {
	font-weight: bold;
}

.m-t-20 {
	margin-top: 20px;
}

.m-b-20 {
	margin-bottom: 20px;
}

.w-20 {
	width: 20%;
}

.w-25 {
	width: 25%;
}

.w-50 {
	width: 50%;
}

.w-33 {
	width: 33%;
}

.w-75 {
	width: 75%;
}

.w-100 {
	width: 100%;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.menu-icon {
	width: 40px;
	height: 40px;
	background-image: url('../assets/menu-icon.png');
	background-size: 100% 100%; 
}

.menu-list {
	text-align: center;
	margin-left: 0px;
	padding-left: 0px;
}

.menu-list li{
	display: inline;
	margin: 20px;
	line-height: 30px;
}

.main-container {
	height: 100%;
}

.logo {
	display: flex;
  	align-items: center;
}

.logo span {
	padding-left: 10px;
	font-weight: 600;
	font-size: 30px;
}

.detail {
	display: flex;
	flex: 50%;
    align-items: center;
    height: 100%;
    padding: 0 10%;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position-x: 90%;
    background-image: url(../assets/slider-1.png);
}

.text-space div {
	margin-bottom: 20px;
}

.s-text {
	font-size: var(--smallText);
}

.letter-space {
	letter-spacing: 7px;
}

.v-lg-text {
	font-weight: bold;
	font-size: 70px;
	line-height: 70px;
}

.c-text {
	font-weight: bold;
	font-size: 36px;
}

.display-column {
	flex-direction: column;
	width: 50%;
}

.image-space {
	height: 100%;
}


.custom-btn {
	background-color: transparent;
	border: 2px solid var(--pink);
	border-radius: 25px 25px 25px 25px;
	padding: 20px 40px;
}

.info-tile-33 {
	flex: 33%;
}

.c-50 {
	width: 50%;
	margin: 15px 0px;
}

.info-tile-50 {
	flex: 50%;
}

.height-100 {
	min-height: 100px;
}

.height-400 {
	min-height: 400px;
}

.box {
	display: flex;
	align-items: center;
	padding: 60px;
}

.pink-box {
	background-color: var(--pink);
}

.grey-box {
	background-color: var(--lightGrey);
}

.white-box {
	background-color: var(--white);
}

.t-ivory {
	color: var(--ivory);
}

.t-dark-grey {
	color: var(--darkGrey);
}

.t-white {
	color: var(--white);
}

.t-light-grey {
	color: var(--connector);
}

.tile-title {
	font-size: var(--tileTitle);
	margin-bottom: 10px;
}

.tile-title-lg {
	font-size: var(--tiltTitleLg);
	margin-bottom: 10px;
}

.tile-desc {
	font-size: var(--tileDesc);
}

.t-logo {
	width: 60px;
	height: 50px;
	margin: -45px 20px 0px 0px;
	background-size: 100% 100%;
}

.ad-logo {
	background-image: url('../assets/white-icon.png');
}

.iot-logo {
	background-image: url('../assets/color-icon.png');
}

.ml-logo {
	background-image: url('../assets/color-icon2.png');	
}

.home-img {
	background-image: url('../assets/home3_alt_half_media1.jpg');
	background-size: 100% 100%;
}

.home2-img {
	background-image: url('../assets/home3_alt_half_media2.jpg');
	background-size: 100% 100%;
}

.c-logo {
	width: 60px;
	height: 60px;
	background-size: 100% 100%;
}

.counter-1 {
	background-image: url('../assets/counter_img1.png');
}

.counter-2 {
	background-image: url('../assets/counter_img2.png');
}

.counter-3 {
	background-image: url('../assets/counter_img3.png');
}

.counter-4 {
	background-image: url('../assets/counter_img4.png');
}

.l-grey {
	background: var(--lightGrey);
	padding: 80px 60px;
}

.l-grey-no-padding {
	background: var(--lightGrey);
	padding: 80px 0px;
}

.d-grey {
	background-color: var(--vdarkGrey);
	padding: 80px 60px;
}

.d-grey-no-padding-left {
	background-color: var(--vdarkGrey);
	padding: 80px 0px;
}

.d-white {
	background-color: var(--white);
	padding: 80px 60px;
}

.t-center {
	text-align: center;
}

.t-right {
	text-align: right;
}

.t-left {
	text-align: left;
}

.m-logo {
	height: 100px;
	width: 100px;
	border-radius: 50%;
	background-size: 100% 100%;
}

.milestone-box {
	display: flex;
	width: 100%;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 20px 0px;
}

.strategy {
	background-image: url('../assets/img_9-600x600.jpg');
}

.design {
	background-image: url('../assets/img_3-600x600.jpg');
}

.develop {
	background-image: url('../assets/img_8-600x600.jpg');
}

.support {
	background-image: url('../assets/img_2-600x600.jpg');
}

.m-title {
	font-size: var(--mTile);
}

.pink {
	color: var(--pink);
}

.green {
	color: var(--green);
}

.blue {
	color: var(--blue);
}

.orange {
	color: var(--orange);
}

.m-15 {
	margin: 0px 15px;
}

.m-10 {
	margin: 10px;
}

.imglist {
	height: 200px;
	flex: 20%;
	background-size: 100% 100%;
}

.img-15 {
	background-image: url("../assets/img_15-1170x780.jpg")
}

.img-16 {
	background-image: url("../assets/img_16-1170x780.jpg")
}

.img-17 {
	background-image: url("../assets/img_17-1170x780.jpg")
}

.img-18 {
	background-image: url("../assets/img_18-1170x780.jpg")
}

.img-19 {
	background-image: url("../assets/img_19-1170x780.jpg")
}

.news-list {
	width: 100%;
}

.post {
	flex: 20%;
	margin: 0px 5px;
}

.news-info-box {
	padding: 20px 25px;
}

.padding-bottom {
	padding-bottom: 10px;
}

.img-box {
	width: 100%;
	height: 200px;
	background-size: 100% 100%;
}

.news-1 {
	background-image: url('../assets/img_33-600x600.jpg');
}

.news-2 {
	background-image: url('../assets/img_32-600x600.jpg');	
}

.news-3 {
	background-image: url('../assets/img_18-600x600.jpg');
}

.d-btn {
	color: var(--darkButton);
	font-size: var(--buttonFontSize);
	line-height: var(--buttonFontSize);
}

.news-box {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.white-bg {
	background: var(--white);
}

.contact-us {
	background-image: url('../assets/home3_alt_half_media3.jpg')
}

.contact-us-form {
	padding: 80px 60px;
}

.form-area {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.form-input {
	flex: 100%;
	padding: 10px;
	background: var(--inputBg);
	border: 0px;
	margin: 5px;
}

.footer-pg {
	padding: 20px 0px;
	background-color: var(--vdarkGrey);
}

.a-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

ul li:hover {
	color: var(--pink);
}

.mobile-show {
	display: none;
}

.f-75 {
	flex: 75%;
}

.f-25 {
	flex: 25%;
}

.connector {
	width: 0px;
	height: 45px;
	border: 2px dashed var(--connector);
	margin-left: 50%;
}

@media (max-width: 800px) {
	.flex-container {
		flex-direction: column;
	}

	.form-area {
		flex-direction: column;
	}

	.detail {
		background-image: none;
	}

	.display-column {
		width: 100%;
	}

	.menu-top {
		display: none;
	}

	.mobile-hide {
		display: none;
	}

	.mobile-show {
		display: inline-block;
	}

	.head {
		background: var(--white);
	}

	.milestone-box {
		flex-direction: column;
	}

	.mobile-w {
		width: 100%;
	}

}